# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.HelloWorld1.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Igor\source\repos\HelloWorld1\.idea\.idea.HelloWorld1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
